#about {
    color: #fff;
    margin-bottom: 30px;
    scroll-margin-block-start: 80px;
}

#about > h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.about__wrapper > p {
    text-align: center;
    font-size: 30px;
    width: 600px;
    max-width: 100%;
    margin-bottom: 30px;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about__image {
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border-radius: 30px;
}