.header__nav {
    display: flex;
    justify-content: space-between;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8f0101;
    color: white;
    padding: 10px 20px;
    z-index: 2;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
    text-wrap: nowrap;
}

.header__nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__nav-links li {
    margin-left: 20px;
}

.header__nav-links a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-wrap: nowrap;
}

/* Стили для бургер-меню */
.header__burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.header__burger div {
    width: 24px;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

/* Адаптивные стили */
@media screen and (max-width: 900px) {
    .header__nav-links {
        margin-top: 100px;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #8f0101;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .header__nav-links li {
        margin: 20px 0;
    }

    .header__burger {
        display: flex;
    }
}

/* Активный класс для меню */
.nav-active {
    transform: translateX(0%);
}

/* Анимация бургер-меню */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}