.hero {
    padding-top: 200px;
    background-image: url("../image/image-hero.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    text-align: center;
    margin-bottom: 40px;
}

.wrapper {
    height: 50vh;
}

h1 {
    font-size: 80px;
    color: #f4f4f4;
    white-space: wrap;
    overflow: hidden;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
}

.button {
    background-color: #8f0101;
    font-size: 50px;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #6f0000;
    transition-duration: 0.3s;
}

.hero__typed-text {
    color: #b20000;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #333;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1;}
    50% { opacity: 0; }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.7rem;
        white-space: normal;
    }
    .button {
        font-size: 30px;
    }
}

@media (max-height: 768px) {
    h1 {
        font-size: 2.4rem;
        margin-bottom: 50px;
    }
}