@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&display=swap');
@import url('header.css');
@import url('hero.css');
@import url('about.css');
@import url('street.css');
@import url('footer.css');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    position: relative;
    background-image: url("../image/bgc-photoaidcom-darken.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}