@import url('header.css');
@import url('hero.css');
@import url('about.css');
@import url('street.css');
@import url('footer.css');

html {
    scroll-behavior: smooth;
}

.scroll-animate {
    opacity: 0; /* Изначально невидим */
    transform: translateY(50px); /* Сдвигаем вниз */
    transition: all 0.5s ease; /* Плавное изменение */
}

.scroll-animate.show {
    opacity: 1; /* Появляется */
    transform: translateY(0); /* Возврат на место */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    position: relative;
    background-image: url("../image/bgc-photoaidcom-darken.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}